<section>
  <h2 id="about-me">About Myself</h2>
  <hr class="bar"/><div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img"></div>
        </div>
        <div class="back">
          <div class="face1-img"></div>
        </div>
      </div>
    </div>
    <div class="glyph-icon flaticon-cogwheel28"></div>
    <div class="glyph-icon flaticon-computer1"></div>
    <div class="glyph-icon flaticon-hosting"></div>
    <div class="glyph-icon flaticon-computers13"></div>
  </div>
  <div class="blurb">
    <p>I am a Mechanical Engineering student at Rochester Institute of Technolgy
      with experience in optimal and non-linear controls, machine learning,
      natural language processing, and computer vision. I strive to learn from my
      past experiences, and am comfortable being uncomfortable in challenging personal
      and professional growth situations. I am working towards my bachelors
      and masters degree in Mechanical Engineering but have performed research in
      various fields of machine learning.</p>
  </div>
  <div class="skill-lock"></div>
</section>
