<section class="section-contact"><h2 id="Details">Contact Details</h2>
  <hr class="bar"/><div class="social-links">
    <a href="https://www.facebook.com/"><div class="glyph-icon flaticon-facebook3"></div></a>
    <a href="https://www.linkedin.com/in/michael-johnson-526678113/"><div class="glyph-icon flaticon-linkedin"></div></a>
    <a href="https://github.com/mxj5897"><div class="glyph-icon flaticon-github"></div></a>
    <!-- <a href="https://www.youtube.com"><div class="glyph-icon flaticon-youtube31"></div></a> -->
  </div><hr class="bar"/><a href="mailto:mcjohnson2315@gmail.com" class="biglink">Mcjohnson2315@gmail.com</a>
</section>
