<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="../assets/img/college.svg" alt="Picture"/>
    </div>
    <!-- cd-timeline-img-->
    <div class="cd-timeline-content">
      <h2 class="story-heading">RIT Mechanical Engineering</h2>
      <P>I am in the process of completing a five year dual degree (B.S. and M.S.), in Mechanical Engineering at Rochester Institute of Technology. The area of focus for my Master's degree was Controls Systems primarily non-linear and optimal controls, and their applications to flight systems.</P>
      <span class="cd-date">2015-2021</span>
    </div>
    <!-- cd-timeline-content--><!-- cd-timeline-block-->
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="../assets/img/web-programming.svg" alt="College"/>
    </div>
    <!-- cd-timeline-img-->
    <div class="cd-timeline-content">
      <h2>Discrete Microfluidics Lab</h2>
      <p>Our team studied the properties of micro-scale gel beads substrates for use in vibrational energy harvesters. I utilized Matlab to analyze a the bead's geometric properties and developed a method for predicting the curvature of the beads. Our team presented our findings at RIT's Undergraduate Research Symposium, and published an article in the <i>ASME Journal of Fluid Engineering</i>.</p>
      <span class="cd-date">May 2016 - May 2018</span>
    </div>
    <!-- cd-timeline-content--><!-- cd-timeline-block-->
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="../assets/img/graduate38.svg" alt="graduate38.svg">
    </div>
    <!-- cd-timeline-img-->
    <div class="cd-timeline-content">
      <h2>GE Aviation</h2>
      <p>I created and presented a web-based python tool which tracked the status of engines scheduled for removal in an active field program to senior management. I also compiled information for and wrote a CFM56 TB/E configuration service bulletin.</p>
      <span class="cd-date">June - Dec 2017</span>
    </div>
    <!-- cd-timeline-content--><!-- cd-timeline-block-->
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="../assets/img/idea14.svg" alt="Location"/>
    </div><!-- cd-timeline-img--><div class="cd-timeline-content">
      <h2>Sign-Speak</h2>
      <p>Our team developed a commercial tool which translates American Sign Language to English, helping to promote and empower Deaf and Hard of Hearing Indivduals. We presented at several RIT business model competions earning $4,500 in investment.</p>
      <span class="cd-date">Jan 2017 - Current</span>
    </div>
    <!-- cd-timeline-content--><!-- cd-timeline-block-->
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
      <img src="../assets/img/hosting.svg" alt="Location"/>
    </div>
    <!-- cd-timeline-img-->
    <div class="cd-timeline-content">
      <h2>Computing Research Alliance</h2>
      <p>Our group proposed a one shot method for uncertainty quantification in regressions of high dimensional images which utilizes infinite mixture density models. </p>
      <span class="cd-date">October 2018 - Current</span>
    </div>
    <!-- cd-timeline-content--><!-- cd-timeline-block-->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/question30.svg" alt="Location"/>
      </div>
    </div>
    <!-- cd-timeline-->
  </div>
</section>
<div class="cd-timeline-header">
  <h2></h2>
</div>
</div>
